<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Doctor regsitration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>
<body>
    <form method="POST" action="{% url 'doctor-register' %}" enctype="multipart/form-data">
        {% csrf_token %}
        First Name : <input type="text" name="first_name">
        Last Name : <input type="text" name="last_name">
        Mobile: <input type="text" name="mobile">
        Profile Picture: <input type="file" name="profile_pic">
        <input type="submit" value="register">
    </form>
</body>
</html>