<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dcotor profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>
<body>
    First Name : <input type="text" name="firstname" value="{{doctor_data.first_name}}">
    Last Name : <input type="text" name="lastname" value="{{doctor_data.last_name}}">
    Mobile : <input type="text" name="lastname" value="{{doctor_data.mobile}}">
    profile: <img src="{{doctor_data.profile_pic.url}}" height='100px' width='100px'>
</body>
</html>